* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    list-style: none;
}

@font-face {
    font-family: "plain light";
    src: url("./fonts/plain-light-webfont.woff") format("woff");
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "plain regular";
    src: url("./fonts/plain-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "silk serif light";
    src: url("./fonts/silkserif-lightitalic-webfont.woff") format("woff");
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "silk serif regular";
    src: url("./fonts/silkserif-regularitalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #101720;
    font-family: "plain regular";
    /* cursor: none; */
}

a {
    text-decoration: none;
    cursor: none;
}

.mousefollower {
    border: 2px solid #ffffffb2;
    background-color: rgb(255, 255, 255);
    scale: 2;
    mix-blend-mode: difference;
    /* width: 2.3vw;
    height: 2.3vw;
    border-radius: 50%;
    position: fixed;
    z-index: 100;
    transform: translate(-50%, -50%); */
}

#loader {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #0b0b0b;
    z-index: 100;
    padding: 25vh 10vw;
}

.line {
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.loader-counter {
    margin-right: 1.2vw;
    font-family: "silk serif regular";
    font-size: 2.5vw;
}

.loader-count:first-child {
    width: 80px;
    display: inline-block;
    text-align: right;
}

.line h1 {
    font-family: "plain regular";
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 800;
}

#main {
    position: relative;
}

#page1 {
    width: 100%;
    min-height: 100vh;
    background-color: #101720;
    position: relative;
}

.now {
    font-size: 5vw;
    animation-name: text;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vw 5vw;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.nav-menu li {
    position: relative;
}

.nav-menu li::before {
    content: "";
    width: 55px;
    height: 55px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.hero-text {
    width: 46%;
    margin: auto;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#hero-text1::before {
    content: "01";
    position: absolute;
    left: 22%;
    top: 20%;
    font-size: 3vw;
    font-family: "silk serif regular";
    font-weight: 200;
}

.hero-text h1,
.hero-text h2 {
    font-family: "plain regular";
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
    /* line-height: 6.5vw; */
}

.hero-text h2 {
    border-bottom: 0.7vw solid #fff;
    padding-bottom: 0.7vw;
}

.hero-text h2:hover {
    font-weight: 400;
    -webkit-text-stroke: 0.5px #fff;
    color: transparent;
    position: relative;
    z-index: 101;
    border-bottom: 0.7vw solid transparent;
}

.hero-text:nth-child(2) {
    margin-top: 3vh;
}

#page2 {
    width: 100%;
    min-height: 100vh;
    background-color: #101720;
    padding-top: 10vh;
    position: relative;
}

.video-main {
    width: 72vw;
    height: 66vh;
    position: relative;
    margin-left: auto;
}

.video-cursor {
    width: 8vw;
    height: 8vw;
    background-color: #ffa63d;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
}

.video-main img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-main video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page3 {
    width: 100%;
    min-height: 100vh;
    margin-bottom: 20vh;
    padding: 10vh 3vw;
    position: relative;
    /* background-color: #101720; */
    /* background-color: #0b0b0b; */
}

#page3 .content {
    width: 70%;
    margin-left: 25%;
    margin-right: 5%;
}

#page3 .content h1 {
    font-family: "plain regular";
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
}

#page3 .content h1:before {
    content: "03";
    position: absolute;
    left: -12%;
    top: 0;
    font-size: 3vw;
    font-family: "silk serif regular";
    font-weight: 200;
}

.img-container {
    /* background-color: #ff0000; */
    padding: 1vw;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2vw;
    flex-wrap: wrap;
}

.img-item {
    width: 28vw;
    height: 40vw;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    margin-top: 10vh;
}

.img-item-small {
    width: 22vw;
    height: 30vw;
}

.img-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.circle-lg {
    position: relative;
    width: 22vw;
    height: 22vw;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #ffffffb2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-lg svg {
    height: 30%;
}

.circle-lg-text {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); */
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4.5vw;
    scale: 0;
    transition: scale ease 0.5s;
}

.circle-lg-text p {
    color: #000;
    font-family: "plain regular";
    font-size: 0.8vw;
    font-weight: 100;
    scale: 0;
    transition: scale ease 0.5s;
    transition-delay: 0.3s;
}

.circle-lg:hover .circle-lg-text,
.circle-lg:hover .circle-lg-text p {
    scale: 1;
}

#circle-lg1 {
    margin-left: 10vw;
    margin-top: 22vh;
}

#circle-lg2 {
    margin-right: 5vw;
    margin-top: 22vh;
}

#circle-lg2 svg {
    rotate: -45deg;
}

#page4 {
    width: 100%;
    min-height: 100vh;
    background-color: #101720;
    padding: 7vh 0;
}

#page4 .content {
    width: 70%;
    margin-left: 25%;
    margin-right: 5%;
}

#page4 .content h1 {
    font-family: "plain regular";
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
}

#page4 .content h1:before {
    content: "03";
    position: absolute;
    left: -12%;
    top: 0;
    font-size: 3vw;
    font-family: "silk serif regular";
    font-weight: 200;
}

#page4 .content>p {
    font-family: "plain light";
    font-size: 2vw;
    width: 32vw;
    margin-bottom: 7vh;
}

#page4 .img-content {
    display: flex;
    justify-content: flex-start;
    gap: 2vw;
    position: relative;
}

#page4 .img-main {
    width: 35vw;
    height: auto;
}

#page4 .img-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page4 .content .text-content p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 2vh;
    width: 14vw;
    line-height: 1.5;
}

.underline {
    width: 100%;
    height: 1px;
    background-color: #ffffffe1;
    margin: 4vw 0;
}

.awwwards {
    padding: 2vw;
    width: 35vw;
    height: auto;
    background-color: #3f7df4;
    position: relative;
    margin-top: -18.5vw;
    margin-left: 24vw;
}

.awwwards-block-row {
    display: grid;
    grid-template-columns: 1.1fr .9fr;
    gap: 1vw;
    padding: 2vw 0;
    border-bottom: 1px solid;
}

.awwwards-block-row .title {
    font-family: "plain regular";
    font-size: 1.5vw;
}

#page5 {
    width: 100%;
    min-height: 100vh;
    /* background-color: #101720; */
    background-color: #101720;
    position: relative;
}

.marquee-text,
.marquee-text2 {
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2.5vw;
}

.marquee-text h1,
.marquee-text2 h1 {
    font-family: "plain regular";
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-text-stroke: 0.8px #fff;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    /* animation: marquee 10s linear infinite; */
    animation-name: marquee;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.marquee-text2 h1 {
    transform: translateX(calc(-100% - 20px));
    animation-direction: reverse;
}

.marquee-text h1 span,
.marquee-text2 h1 span {
    font-family: "silk serif regular";
    color: transparent;
}

.footer {
    background-color: #101720;
    padding: 5vh 0;
}

.footer .content {
    width: 70%;
    margin-left: 25%;
    margin-right: 5%;
}

.footer .content h1 {
    font-family: "plain regular";
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
}

.footer .content h1:before {
    content: "04";
    position: absolute;
    left: -12%;
    top: 0;
    font-size: 3vw;
    font-family: "silk serif regular";
    font-weight: 200;
}

.footer-links {
    /* padding: 3vw; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
}

.footer-links h5 {
    font-family: "plain light";
    font-size: 1vw;
    margin-bottom: 3vh;
}

.footer-links ul li a,
.footer-links .box a,
.footer-links .box p {
    font-family: "plain light";
    font-size: 1.5vw;
    margin-bottom: 1vh;
}

._canvas_container {
    z-index: 9999 !important;
    pointer-events: none;
}

@keyframes text {
    0% {
        font-family: "plain light";
        -webkit-text-stroke: 0.1px #fff;
        color: #fff;
        opacity: 0;
    }

    48% {
        font-family: "plain light";
        -webkit-text-stroke: 0.1px #fff;
        color: #fff;
        opacity: 1;
    }

    50% {
        font-family: "silk serif regular";
        -webkit-text-stroke: 0.1px #fff;
        color: transparent;
        opacity: 0;
    }

    100% {
        font-family: "silk serif regular";
        -webkit-text-stroke: 0.1px #fff;
        color: transparent;
        opacity: 1;
    }
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 20px));
    }
}